---
import Link from "@components/ui/link.astro";
---

<div class="h-screen flex flex-col justify-center">
  <h2 class="text-lg font-semibold">Hi, my name is</h2>
  <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold tracking-wide">
    Hadouin
  </h1>
  <h3 class="text-4xl lg:text-5xl xl:text-6xl font-bold text-gray-600">
    I build things for the web
  </h3>
  <p class="my-4 max-w-lg font-inter leading-tight">
    I’m a computer science student in Paris ISEP engineering school. I like to
    code for people in my free time.
  </p>
  <Link class="hire-me w-fit" href="/contact">Hire me!</Link>
</div>
